body {
    font-family: sans-serif;
}
header{
    background-color: rgb(12, 12, 192);
    padding: 18px;
    color: white;
    border-radius: 20px;
}
header a{
    color: white;
    border:2px solid white;
    text-decoration: none;
    padding: 6px;
    margin: 1pc;
}
h1{
  color: rgb(235, 152, 0);
  text-align: center;   
}
footer p{
   border:2px solid navy ; 
}
nav{
    color: blue;
    text-align: center;
}
.q{
  background-color: rgb(164, 236, 164);
  padding: 4px;

}
h2 {
  color: rgba(37, 143, 143, 0.514);
} 
